$transition-duration: 0.3s;

.page_bg {
    background: linear-gradient(to bottom, $bg-theme, 60%, $white);
}

.reverse_pageBg {
    background: linear-gradient(to top, $bg-theme, 50%, $white);
}

.blog {
    color: $reverse-font;
    font-family: "Caveat Brush", serif;
    letter-spacing: 1px;
    padding-top: 32px;

    .card {
        font-family: "Montserrat", serif;
        border-radius: 0;
        border-color: transparent;
        letter-spacing: initial;
        overflow: hidden;
    }

    .bg_image {
        img {
            @include img_setup(200px);

            @include respond_to("md") {
                @include img_setup(250px);
            }
            @include respond_to("lg") {
                @include img_setup(300px);
            }
            @include respond_to("xl") {
                @include img_setup(350px);
            }
        }

        .card-body {
            position: relative;
        }

        .card-title {
            opacity: 1;
            color: $reverse-font;
            text-decoration: underline;
        }

        .gradient {
            position: absolute;
            bottom: -88px;
            right: 0;
            left: 0;
            color: transparent;
        }

        &:hover {
            .gradient {
                opacity: 1;
                bottom: -5px;
                background: linear-gradient(to bottom, rgba($shadow, 0.3), rgba($bg-theme, 0.8));
                box-shadow: 0 0 15px 3px rgba($shadow, 0.3);
                transition:
                    opacity $transition-duration ease,
                    transform $transition-duration ease;
                transform: translateY(100%);
                animation: slideInUp 1s forwards;
                color: $reverse-font;
            }
        }

        .link_toDetail {
            background: $reverse-font;
            font-size: $font-size-sm;
            border-radius: 0;
            text-align: center;

            &:hover {
                color: $bg-theme;
                transition: all $transition-duration ease;
            }
        }
    }

    .session_title {
        border-bottom: 2px solid rgba($remind, 0.8);
        margin-bottom: 1.2rem;

        span {
            color: $reverse-font;
            background-color: rgba($remind, 0.8);
            padding: 3px 6px;
            font-size: $font-size-md;
        }
    }

    .latest {
        border-color: rgba($red, 0.8);

        span {
            background-color: rgba($red, 0.8);
        }
    }

    .featured {
        border-color: $blue-300;

        span {
            background-color: $blue-300;
        }
    }
}

.blog_detail {
    img {
        @include img_setup(300px, auto);
    }

    .content {
        line-height: 2;
        letter-spacing: 1px;
        margin-top: 1rem;
        color: $bg-theme;
    }
}
