@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

// 產品列表的變數表
$font-primary: "Caveat Brush", serif;
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.6;
$font-size-md: $font-size-base * 1.4;
$action-color: $orange-500;
$hover-color: $orange-600;

// 跳轉產品說明 hover 集合
@mixin hover-effect($transform: none, $transition: 400ms) {
    transition: all $transition ease;
    transform: $transform;
    cursor: pointer;
}

// 產品列表頁面的所有樣式設定
.product_list {
    font-family: $font-primary;

    .filter_item {
        margin: 0 10px;
        font-size: $font-size-md;

        a {
            color: $gray-900;
            text-decoration: none;
            padding: 8px 22px;

            &:hover {
                transform: scale(1.1);
            }
        }

        .active {
            background: $action-color;
            border-radius: 50px;
            color: $white;
        }
    }

    .product_card {
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;

            &:hover {
                @include hover-effect(translate(0%, -5%));
            }
        }

        .card-title {
            font-size: $font-size-lg;
            font-weight: bolder;

            &:hover {
                @include hover-effect();
                color: $action-color;
            }
        }

        .add_toCart {
            padding: 10px 20px 10px 0;
            color: $action-color;
            text-decoration: underline;
            font-size: $font-size-base;

            &:hover {
                @include hover-effect();
                font-size: $font-size-md;
                color: $hover-color;
            }

            &:disabled {
                color: $gray-600;
                border: 0;
                cursor: not-allowed;
            }
        }
    }
}
