.not_fount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    color: $reverse-sub-theme;
    font-family: "Poppins", sans-serif;
    background: url("/starry-night.png");
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .text {
        font-size: 20vw;
        font-weight: 500;
        @include center;
    }

    .content {
        text-align: center;
        margin: 1rem 0;

        h2 {
            font-size: 6vw;
        }
    }

    .only_ring {
        @include img_setup(15vw, 15vw);
    }

    .only_cheesePie {
        @include img_setup(10vw, 10vw);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 80%;
        right: 50%;
        animation-delay: 0.7s;
        animation: fly 15s ease infinite;
    }

    @keyframes fly {
        25% {
            transform: rotate(0deg);
            top: 150px;
            right: 40px;
        }
        50% {
            transform: rotate(0deg);
            top: 200px;
            right: 50px;
        }
        75% {
            transform: rotate(10deg);
            top: 110px;
            right: 150px;
        }
        100% {
            transform: rotate(-10deg);
            top: 80px;
            right: 50px;
        }
    }
}
